<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="https://www.facebook.com/Tripoto/?fref=ts"> It's Gipssy </a>
            by <a href="https://www.facebook.com/nishant.deshmukh.549"> NISHANT DESHMUKH </a>
            </small>
            <nav>
                <ul>
                  
                    <li> <%= link_to "About", about_path %> </li>
                    
                        
                    </ul>
                </nav>
                </footer>
                </div>